	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="home.html"><img src="img/justSwap.png" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>A lot of people are caught up in the way we shop today. Many follow fashion, go for the cheap items and end up buying more things than they need. Many people have things lying around that they once used, but outgrew somehow. Toys, clothes, books, music – even furniture. What often happens is people clean out their closets and basements, they’re so in the mood to get rid of things that these things just end up in trash. It’s just easier that way. Some give to charity shops, but others feel “Why would I give, when I don’t get anything in return?”. Some people keep things for years because they’re too good to give away to a charity (they feel), or have sentimental value so they’re waiting for the right person to give it to, someone who will value and appreciate their old belongings!</p>

						<p>For whatever reasons people have, facts are that MANY useful things end up in trash – while the same people go and buy new things, and others aren’t able to buy what they need for their family.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Links</h2>
						<ul>
							<li><a href="aboutus.html">About Us</a></li>
							<li><a href="swapList.html">Swap History</a></li>
							<li><a href="swapList.html">Cancels</a></li>
							<li><a href="category.html">Items</a></li>
							<li><a href="home.html">Home</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Contacts</h2>
						<div class="con-info">
							<span>C.</span>
							<p>Our Company </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>University of San Carlos Talamban Campus, Nasipit Talamban Cebu City </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+53 345 7953 32453</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>office@youremail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>	
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
				<p class="text-white text-center mt-5">All rights reserved | This website is made by Mon and Nen</p>
			</div>
		</div>
	</section>

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>
	
</body>
</html>