<% include partials/header.ejs%>
	
  <!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center">
						<!-- logo -->
						<a href="#" class="site-logo">
							<img src="img/swapLogo.png" alt="">
						</a>
					</div>
					<!-- search bar -->
					<div class="col-lg-6">
						<form class="header-search-form">
							<input class="form-control" type="text" placeholder="Search on Swap">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 text-center">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="/profile">Profile</a></a>
							</div>
							<div class="up-item">
								<div class="shelf">
									<i class="flaticon-padnote"></i>
									<span class="badge">3</span>
								</div>
								<a href="/swap-list">List</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Navigation -->
		<nav class="main-navbar">
			<div class="container">
				<ul class="main-menu">
					<li><a href="/">HOME</a></li>
					<li><a href="/about-us">ABOUT US</a></li>
					<li><a href="/category">CATEGORY</a>
						<ul class="sub-menu">
							<li><a href="/category/women-dress">WOMEN</a></li>
							<li><a href="/category/men-shirts">MEN</a></li>
							<li><a href="/category/babies-clothes">BABIES</a></li>
							<li><a href="/category/electronics">ELECTRONICS</a></li>
							<li><a href="/category/others">OTHERS</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->

	<div class="page-top-info">
		<div class="container">
			<div class ="page-header">
				<h4 data-shadow='dang!'>ABOUT US</h4>
			</div>
		</div>
	</div>

	<!-- About Us Section-->
	<section id="about" class="spad">
		<div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              A lot of people used to buy things that are not necessary. 
Simply because buying something you want makes someone feels great and sometimes eases our stress and discomformity.

However, there's another way where in you get to acquire something you want in exchange to your items that are still in well conditioned.

With swap, an application in which people get to exchange items they no longer want or use with other swappers. We ensure that all the items are in good quality and in great condition. The following are the features of our application.  
            </p>

            <div class="icon-box">
              <div class="icon">
              	<img src="https://image.flaticon.com/icons/svg/1157/1157584.svg">
              </div>
              <p class="description">Trade unused well conditioned items for a better and useful item.</p>
            </div>

            <div class="icon-box">
              <div class="icon">
              		<img src="https://image.flaticon.com/icons/svg/1087/1087923.svg">
              </div>
              <p class="description">Connect with other people who live in the same location and share the same problems as you.</p>
            </div>

            <div class="icon-box">
              <div class="icon">
              	<img src="https://image.flaticon.com/icons/svg/584/584093.svg">
              </div>
              <p class="description">Save money by getting items not through buying but through trading.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2">
  			<img src="https://mimundomimapfre.files.wordpress.com/2016/09/333.jpg">
        </div>


			</div>
		</div>
	</section>
	
<!-- why swap -->

<section id="why-us">
      <div class="container">
        <header class="section-header">
          <h3>Why Swap?</h3>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card">
            	<div class="icon">
	                <img src="https://image.flaticon.com/icons/svg/686/686308.svg">        		
            	</div>
              <div class="card-body">
                <h5 class="card-title">Practicality</h5>
                <p class="card-text">Wanna get rid of an item that you no longer use but at the same time want to have an item that you want without spending money on it?</p>
            	<p>Then Swap can do that for you. With Swap you can discard an unused item and get another item in return.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card">
            	<div class="icon">
	                <img src="https://image.flaticon.com/icons/svg/907/907830.svg">        		
            	</div>
              <div class="card-body">
                <h5 class="card-title">Convenience</h5>
                <p class="card-text">Swap offers availability of chat features for communication and it eliminates the need for a private phone number when contacting potential traders.</p>
                <p>So with swap, communication  is easy, safe, and fuss-free.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="icon">
	                <img src="https://image.flaticon.com/icons/svg/1561/1561016.svg">            	
                </div>
              <div class="card-body">
                <h5 class="card-title">No money involvement</h5>
                <p class="card-text">There will be no money involved as the trading only happens in the same area as you are. In other words, all your potential traders are just around you.</p> 
            	<p>So in Swap there will be no shipping cost at all. You just simply have to swap items and poof! it's done.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- why swap end -->


<!-- creators -->

<section id="team">
      <div class="container">
        <div class="section-header">
          <h2>The Team</h2>
          <p>Swap is a two-women team!</p>
        </div>

        <div class="row">

        	<div class="col-lg-3 col-md-6"></div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <img src="img/aboutUs/mon.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Monica Claire Apor</h4>
                  <span>BS Computer Science Sophomore</span>
                  <div class="social">
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/aboutUs/jen.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jennen Isabelle Montejo</h4>
                  <span>BS Computer Science Sophomore</span>
                  <div class="social">
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

<!-- creators end -->
	
<% include partials/footer.ejs %>