<% include partials/header.ejs%>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center">
						<!-- logo -->
						<a href="" class="site-logo">
							<img src="img/swapLogo.png" alt="">
						</a>
					</div>
					<!-- search bar -->
					<div class="col-lg-6">
						<form class="header-search-form">
							<input class="form-control" type="text" placeholder="Search on Swap">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 text-center">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<li><a href="/profile">Profile</a>
									<ul class="sub-menu">
										<li><a href="/">Logout</a></li>
									</ul>
								</li>
							</div>
							<div class="up-item">
								<div class="shelf">
									<i class="flaticon-padnote"></i>
									<span class="badge">0</span>
								</div>
								<a href="/swapList">List</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<ul class="main-menu">
					<li><a href="/home">HOME</a></li>
					<li><a href="/aboutus">ABOUT US</a></li>
					<li><a href="/category">CATEGORY</a>
						<ul class="sub-menu">
							<li><a href="/womendress">WOMEN</a></li>
							<li><a href="/menshirts">MEN</a></li>
							<li><a href="/babiesclothes">BABIES</a></li>
							<li><a href="/electronics">ELECTRONICS</a></li>
							<li><a href="/others">OTHERS</a></li>
						</ul>
					</li>
					<li><a href="/postitem">POST AN ITEM</a>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<div class="jumbotron">
				<div class ="page-header">
					<h4 data-shadow='dang!'>Category Page</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Page info end -->

	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<div class="filter-widget">
						<h2 class="fw-title">Categories</h2>
						<ul class="category-menu">
							<li><a href="/womendress">Women<span></span></a>
								<ul class="sub-menu">
									<li><a href="/womendress">Dresses <span>(12)</span></a></li>
									<li><a href="/womenpants">Pants & Skirts<span>(9)</span></a></li>
									<li><a href="/womentops">Tops & Blouses<span>(23)</span></a></li>
									<li><a href="/womenfootwear">Footwear<span>(15)</span></a></li>
								</ul>
							</li>
							<li><a href="/menshirts">Men</a>
								<ul class="sub-menu">
									<li><a href="/menpants">Pants <span>(20)</span></a></li>
									<li><a href="/menshirts">Shirts<span>(15)</span></a></li>
									<li><a href="/menfootwear">Footwear<span>(9)</span></a></li>
								</ul>
							</li>
							<li><a href="/babiesclothes">Babies & Children</a>
								<ul class="sub-menu">
									<li><a href="/babiesclothes">Clothes<span>(54)</span></a></li>
									<li><a href="/babiesstuff">Baby Stuff<span>(30)</span></a></li>
									<li><a href="/babiestoys">Toys<span>(36)</span></a></li>
								</ul>
							</li>
							<li><a href="/electronics">Appliances & Furniture</a>
								<ul class="sub-menu">
									<li><a href="/livingroom">Living Room<span>(10)</span></a></li>
									<li><a href="/kitchen">Kitchen<span>(11)</span></a></li>
								</ul>
							</li>
							<li><a href="/others">Others</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">

								<div class="pi-pic">
									<a href="/product"><img src="img/women/dresses/1.jpg" alt=""></a>
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<a href="/profile"><h6>YUKI YAMASHITA</h6></a>
									<p>KOREAN DRESS</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/carousel/1.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE8 TAN</h6>
									<p>VACCUUM CLEANER</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/carousel/4.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE CHUA</h6>
									<p>BICYCLE 2 CHAIRS</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/carousel/3.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE YAP</h6>
									<p>SAMSUNG NOTE 7</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/products/8.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE8 GO</h6>
									<p>SPADE BAG</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/products/4.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE4 GO</h6>
									<p>VY HELMET</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/products/10.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE10 GO</h6>
									<p>SPECIAL CRIB</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/products/9.jpg" alt="">
								<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>	
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE9 GO</h6>
									<p>HIGH TECH REF</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/products/2.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE2 GO</h6>
									<p>SAMSUNG Y9</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<img src="img/products/12.jpg" alt="">
									<div class="pi-links">
										<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>Chat Owner</span></a>
									</div>
								</div>
								<div class="pi-text">
									<h6>JUSTINE12 GO</h6>
									<p>VXY CAMERA</p>
								</div>
							</div>
						</div>
						<div class="text-center w-100 pt-3">
							<button class="site-btn sb-line sb-dark">LOAD MORE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->
	
<% include partials/footer.ejs %>