<% include partials/header.ejs%>
<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>


<!-- Header Section -->
<header class="header-section">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 text-center">
					<!-- logo -->
					<a href="" class="site-logo">
						<img src="img/swapLogo.png" alt="">
					</a>
				</div>
				<!-- search bar -->
				<div class="col-lg-6">
					<form class="header-search-form">
						<input class="form-control " type="text" placeholder="Search on Swap">
						<button><i class="flaticon-search"></i></button>
					</form>
				</div>
				<div class="col-xl-4 text-center">
					<div class="user-panel">
						<div class="up-item">
								<div class="dropdown">
										<button class="btn btn-link dropdown-toggle color" type="button" id="dropdownMenuButton"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="flaticon-profile"></i> Login
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item" href="/account_login">Sign In</a>
										<a class="dropdown-item" href="/register">Register</a>
										<a class="dropdown-item" href="/logout">Logout</a>
									</div>
								 </div> 
						</div>
						
						<div class="up-item">
							<div class="shelf">
								<i class="flaticon-padnote"></i>
								<span class="badge">0</span>
							</div>
							<a href="/swap-list">List</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Navigation -->
	<nav class="main-navbar">
		<div class="container">
			<ul class="main-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/about-us">ABOUT US</a></li>
				<li><a href="/category">CATEGORY</a>
					<ul class="sub-menu">
						<li><a href="/women-dress">WOMEN</a></li>
						<li><a href="#">MEN</a></li>
						<li><a href="#">BABIES</a></li>
						<li><a href="#">ELECTRONICS</a></li>
						<li><a href="#">OTHERS</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!-- Header section end -->

<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="img/h4.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 jumbotron">
						<span>Swap not Shop</span>
						<h1>you got me, i got you</h1>
						<p>At swap people can save money, whether they are rich or poor. They get to see who picks their
							things, how happy they make other people with their generosity, and get to go “shopping” for
							free in what others have brought. The fortunate might bring a lot, and take less. The less
							fortunate bring a little but find a lot they can use. The experience of sharing openly makes
							the event very social, generous, giving and exciting to take part in. </p>
						<div class="buts">
							<a href="/category" class="site-btn sb-line">EXPLORE</a>
							<a href="/product" class="site-btn sb-white">SWAP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hs-item set-bg" data-setbg="img/h2.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 jumbotron">
						<span>Swap not Shop</span>
						<h1>you got me, i got you</h1>
						<p>At swap markets people save money, whether they are rich or poor. They get to see who picks
							their things, how happy they make other people with their generosity, and get to go
							“shopping” for free in what others have brought. The fortunate might bring a lot, and take
							less. The less fortunate bring a little but find a lot they can use. The experience of
							sharing openly makes the event very social, generous, giving and exciting to take part in.
						</p>
						<div class="buts">
							<a href="/category" class="site-btn sb-line">EXPLORE</a>
							<a href="/product" class="site-btn sb-white">SWAP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hs-item set-bg" data-setbg="img/h3.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 jumbotron">
						<span>Swap not Shop</span>
						<h1>you got me, i got you</h1>
						<p>At swap markets people save money, whether they are rich or poor. They get to see who picks
							their things, how happy they make other people with their generosity, and get to go
							“shopping” for free in what others have brought. The fortunate might bring a lot, and take
							less. The less fortunate bring a little but find a lot they can use. The experience of
							sharing openly makes the event very social, generous, giving and exciting to take part in.
						</p>
						<div class="buts">
							<a href="/category" class="site-btn sb-line">EXPLORE</a>
							<a href="/product" class="site-btn sb-white">SWAP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="img/h1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 jumbotron">
						<span>Swap not Shop</span>
						<h1>you got me, i got you</h1>
						<p>At swap markets people save money, whether they are rich or poor. They get to see who picks
							their things, how happy they make other people with their generosity, and get to go
							“shopping” for free in what others have brought. The fortunate might bring a lot, and take
							less. The less fortunate bring a little but find a lot they can use. The experience of
							sharing openly makes the event very social, generous, giving and exciting to take part in.
						</p>
						<div class="buts">
							<a href="/category" class="site-btn sb-line">EXPLORE</a>
							<a href="/product" class="site-btn sb-white">SWAP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="img/h5.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 jumbotron">
						<span>Swap not Shop</span>
						<h1>you got me, i got you</h1>
						<p>At swap markets people save money, whether they are rich or poor. They get to see who picks
							their things, how happy they make other people with their generosity, and get to go
							“shopping” for free in what others have brought. The fortunate might bring a lot, and take
							less. The less fortunate bring a little but find a lot they can use. The experience of
							sharing openly makes the event very social, generous, giving and exciting to take part in.
						</p>
						<div class="buts">
							<a href="/category" class="site-btn sb-line">EXPLORE</a>
							<a href="/product" class="site-btn sb-white">SWAP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->

<!-- Features section -->
<section class="features-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="img/icons/icon1.svg" alt="#">
					</div>
					<h2>FAST & RELIABLE USERS</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="img/icons/2.png" alt="#">
					</div>
					<h2>BARTER PRODUCTS</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="img/icons/icon2.png" alt="#">
					</div>
					<h2>NO MONEY INVOLVED</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end -->

<!-- latest product section -->
<section class="top-letest-product-section">
	<div class="container">
		<div class="section-title">
			<h2>RECENTLY ADDED ITEMS</h2>
		</div>
		<div class="product-slider owl-carousel">
			<div class="product-item">
				<div class="pi-pic">
					<a href="/product"><img src="img/women/dresses/1.jpg" alt=""></a>
					<div class="pi-links">
						<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
								SWAP</span></a>
						<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>YUKI YAMASHITA</h6>
					<p>KOREAN DRESS</p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="img/carousel/2.jpg" alt="">
					<div class="pi-links">
						<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
								SWAP</span></a>
						<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>XAIO YU</h6>
					<p>VACUUM CLEANER</p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="img/women/dresses/2.jpg" alt="">
					<div class="pi-links">
						<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
								SWAP</span></a>
						<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>ANTHONY GO</h6>
					<p>ASUS NETBOOK</p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="img/carousel/3.jpg" alt="">
					<div class="pi-links">
						<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
								SWAP</span></a>
						<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>SEBASTIAN CHU</h6>
					<p>SAMSUNG J9s</p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="img/carousel/4.jpg" alt="">
					<div class="pi-links">
						<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
								SWAP</span></a>
						<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>PARK SHIN HYE</h6>
					<p>BICYCLE</p>
				</div>
			</div>
			<div class="product-item">
				<div class="pi-pic">
					<img src="img/women/dresses/8.jpg" alt="">
					<div class="pi-links">
						<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
								SWAP</span></a>
						<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>NAM YOO HYUK</h6>
					<p>TUXEDO</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- letest product section end -->

<!-- Product filter section -->
<section class="product-filter-section">
	<div class="container">
		<div class="section-title">
			<h2>BROWSE MORE ITEMS</h2>
		</div>
		<div class="categories">
			<a href="/womendress" class=""><i class="flaticon-favorite"></i><span>WOMEN'S APPAREL</span></a>
			<a href="#" class="men"><i class="flaticon-briefcase"></i><span>MEN'S APPAREL</span></a>
			<a href="#" class="gadgets"><i class="flaticon-headphones"></i><span>GADGETS</span></a>
			<a href="#" class="appliances"><i class="flaticon-screen"></i><span>APPLIANCES</span></a>
			<a href="#" class="others"><i class="flaticon-store"></i><span>OTHERS</span></a>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/1.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE1 GO</h6>
						<p>IPHONE 6</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/2.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE2 GO</h6>
						<p>SAMSUNG Y9</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/3.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE3 GO</h6>
						<p>KIA CAR</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/4.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE4 GO</h6>
						<p>VY HELMET</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/5.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE5 GO</h6>
						<p>MOUNTAIN BIKE</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/6.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE6 GO</h6>
						<p>BABY CAR SEAT</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/7.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE7 GO</h6>
						<p>SHOE CONVERSE</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/8.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE8 GO</h6>
						<p>SPADE BAG</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/9.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE9 GO</h6>
						<p>HIGH TECH REF</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/10.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE10 GO</h6>
						<p>SPECIAL CRIB</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/11.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE11 GO</h6>
						<p>COOKER PLUS</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="img/products/12.jpg" alt="">
						<div class="pi-links">
							<a href="/chat" class="add-card"><i class="flaticon-speech-bubble"></i><span>CHAT TO
									SWAP</span></a>
							<a href="/swapList" class="wishlist-btn"><i class="flaticon-add"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>JUSTINE12 GO</h6>
						<p>VXY CAMERA</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center pt-5" id="loadMore">
			<button class="site-btn sb-line sb-dark btn btn-outline-success">LOAD FOR MORE ITEMS</button>
		</div>
	</div>
</section>
<!-- Product filter section end -->

<!-- Banner section -->
<section class="banner">
	<div class="banner-set">
		<marquee behavior="scroll" direction="left" scrollamount="30">
			<img src="img/banner.jpg" alt="">
		</marquee>
	</div>
</section>
<!-- Banner section end-->

<% include partials/footer.ejs %>