<% include partials/header.ejs%>
<!-- Navigation -->
<nav class="main-navbar">
	<div class="container">
		<ul class="main-menu">
			<li><a href="#">ABOUT THE APP</a></li>
			<li><a href="/items/new">ADD NEW ITEM</a></li>
		</ul>
	</div>
</nav>
</header>
<!-- Header section end -->

<!-- Page info -->
<div class="page-top-info">
	<div class="container">
		<div class="jumbotron">
			<div class="page-header">
				<h4 data-shadow='dang!'>View all the items</h4>
			</div>
		</div>
	</div>
</div>
<!-- Page info end -->

<!-- Category section -->
<section class="category-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 order-2 order-lg-1">
				<div class="filter-widget">
					<h2 class="fw-title">Categories</h2>
					<ul class="category-menu">
						<li><a href="/womendress">Women<span></span></a>
							<ul class="sub-menu">
								<li><a href="/womendress">Dresses <span>(12)</span></a></li>
								<li><a href="/womenpants">Pants & Skirts<span>(9)</span></a></li>
								<li><a href="/womentops">Tops & Blouses<span>(23)</span></a></li>
								<li><a href="/womenfootwear">Footwear<span>(15)</span></a></li>
							</ul>
						</li>
						<li><a href="/menshirts">Men</a>
							<ul class="sub-menu">
								<li><a href="/menpants">Pants <span>(20)</span></a></li>
								<li><a href="/menshirts">Shirts<span>(15)</span></a></li>
								<li><a href="/menfootwear">Footwear<span>(9)</span></a></li>
							</ul>
						</li>
						<li><a href="/babiesclothes">Babies & Children</a>
							<ul class="sub-menu">
								<li><a href="/babiesclothes">Clothes<span>(54)</span></a></li>
								<li><a href="/babiesstuff">Baby Stuff<span>(30)</span></a></li>
								<li><a href="/babiestoys">Toys<span>(36)</span></a></li>
							</ul>
						</li>
						<li><a href="/electronics">Appliances & Furniture</a>
							<ul class="sub-menu">
								<li><a href="/livingroom">Living Room<span>(10)</span></a></li>
								<li><a href="/kitchen">Kitchen<span>(11)</span></a></li>
							</ul>
						</li>
						<li><a href="/others">Others</a></li>
					</ul>
				</div>
			</div>


			<!-- all the items in the swap -->

			<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
				<div class="row">
					<% items.forEach(function(item){ %>
					<div class="col-lg-4 col-sm-6">
						<div class="product-item">
							<div class="pi-pic">
								<img src="<%= item.image %>" alt="">
								<div class="pi-links">
									<a href="/items/<%= item._id %>" class="add-card"><i class="flaticon-heart"></i><span>View item</span></a>
								</div>
							</div>
							<div class="pi-text">
								<p><%= item.name %></p>
							</div>
						</div>
					</div>
					<% }); %>
					<div class="text-center w-100 pt-3">
						<button class="site-btn sb-line sb-dark">LOAD MORE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Category section end -->

<% include partials/footer.ejs %>