
  <% include partials/header.login.ejs%>
  <div class="container">
    <div class="row">
        <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-10 col-md-offset-4 col-sm-7 col-sm-offset-8">
      <div class="col-lg-6 mx-auto">
        <div class="card bg-dark text-white">
          <div class="card-header text-center">
            <h2>POST AN ITEM</h2>
          </div>
          <div class="card-body">
            <form action="/items" class= "ui form" method="POST" class="was-validated">
              <div class="form-group">
                <label for="prodname">Name of the Item:</label>
                <input type="text" class="form-control" id="prodname" name="name" placeholder="Item Name" name="name"
                  required>
              </div>
              <div class="form-group">
                <label for="imgurl;">Product Image Link:</label>
                <input type="text" id="imgurl" name="image" placeholder="Image Url" class="form-control"
                  class="input-xlarge" required="">
              </div>
              <div class="form-group">
                <label for="desc">Product Description: </label>
                <textarea class="form-control" name="description" id="description" placeholder="Input Item Description"
                  rows="3"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-success btn-block">POST!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer.login.ejs%>